<div class="container">
  <h1>Lista de Compras</h1>
  <form #frm="ngForm" class="add-item-form" (ngSubmit)="adicionarItem()">
    <input type="text" id="item" [(ngModel)]="item" name="item" placeholder="Digite o nome do item" />
    <button type="submit">Adicionar Item</button>
    <button type="button" (click)="limparLista()">Limpar Lista</button>
  </form>
  <table>
    <thead>
      <th>#</th>
      <th>Item</th>
      <th></th>
    </thead>
    <tbody>
      @for (elemento of lista; track elemento.id) {
      <tr>
        <td>{{ elemento.id }}</td>
        <td>
          <span [ngClass]="{'item-riscado' : elemento.comprado}">
            {{ elemento.nome }}
          </span>
        </td>
        <td><input type="checkbox" (click)="riscarItem(elemento)" [checked]="elemento.comprado" />
      </tr>
      } @empty {
      <tr colspan="3">
        Nenhum item adicionado.
      </tr>
      }
    </tbody>
  </table>
</div>