<div class="container">
  <h1>Lista de Compras</h1>
  <form class="add-item-form">
    <input type="text" id="item" placeholder="Digite o nome do item" />
    <button type="submit">Adicionar Item</button>
  </form>
  <table>
    <thead>
      <th>#</th>
      <th>Item</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Arroz</td>
        <td><input type="checkbox" /></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Maçã</td>
        <td><input type="checkbox" /></td>
      </tr>
    </tbody>
  </table>
</div>